/* 6. Calzas: */

@import 'reset';
@import 'fonts';
@import 'variables';

.logoCalzas {
    .logoCompleto5 {
        width: 44%;
        margin: 25% 4% 2% 29%;
    }
}

.title5-A {
    font-family: "Alegreya Sans", sans-serif;
    color: var(--black);
    font-size: 1.6em;
    text-align: center;
    margin: 0% 24% 0% 25%;
}

.title5-B {
    font-family: "Alegreya Sans", sans-serif;
    border-top: 1px solid var(--black);
    color: var(--black);
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    margin: 4% 28% 0% 28%;
    padding: 24px 0px;
}

.portadaCalzas img {
    width: 100%;
    height: 34vh;
    margin: 0% 0% 10% 0%;
}

.productosCalzas {
    h3 {
        font-family: "Alegreya Sans", sans-serif;
        color: var(--black);
        font-size: 1.4em;
        font-weight: 600;
        text-align: center;
        margin: 6% 18% 7% 18%;
    }

    img {
        width: 64%;
        height: 41vh;
        margin: 6% 18%;
        border: 3px solid var(--grey);
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0px var(--black-light-version);
    }
}

.carousel6 {
    .c3 {
        font-family: "Alegreya Sans", sans-serif;
        border-top: 1px solid var(--black);
        color: var(--black);
        font-size: 1.4em;
        font-weight: 600;
        text-align: center;
        margin: -1% 10% -7% 11%;
        padding: 50px 0px;
    }

    .carousel img {
        height: 55vh;
        margin: -9% 0% 13% 1%;
        padding: 10% 15%;
        display: flex;
    }
}

.c4 {
    font-family: "Alegreya Sans", sans-serif;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    font-size: 1.4em;
    text-align: center;
    margin: -19% 11% 7% 12%;
    padding: 14px 0px;
    font-weight: bolder;
}

.compraCalzas {
    .compraCalzas1 {
        font-family: "Alegreya Sans", sans-serif;
        color: var(--black);
        font-size: 1.4em;
        text-align: center;
        margin: -1% 11% 4% 10%;
        padding: 14px 0px;
    }
}

.buttonComprar6 {
    font-family: "Alegreya Sans", sans-serif;
    color: var(--black);
    font-size: 1.4em;
    text-align: center;
    border-radius: 11px;
    border: 4px solid var(--black);
    cursor: pointer;
    font-weight: 900;
    margin: 0% 0% 8% 26%;
    padding: 14px 0px;
    width: 47%;
    align-items: center;

    &:hover {
        background-color: var(--g);
        color: white;
    }
}

.btn-whatsapp5 {
    display: block;
    height: 151px;
    color: #fff;
    position: fixed;
    right: 3px;
    bottom: 195px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
    width: 30px;
}

.cart6 {
    display: block;
    height: 42px;
    color: #fff;
    position: fixed;
    right: 3px;
    bottom: 339px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    z-index: 999;
    width: 30px;
    border: 3px solid var(--black-light-version);
    background-color: white;
    border-radius: 5%;
}

footer {
    background-color: #333;
    color: var(--beige);
    padding: 28% 0%;
    margin: 0% 0% 43% 0%;
    border-top: 3px solid var(--grey);
    box-shadow: 2px 2px 10px 6px rgba(2, 2, 2, 0.315);

    .famousIcons5 {
        h2 {
            font-family: "Alegreya Sans", sans-serif;
            font-size: 1.4em;
            text-align: center;
            margin: 15% 17% 1% 20%;
        }

        .icons5 {
            margin: 4% 20% 3% 22%;
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: var(--beige);

                i {
                    cursor: pointer;
                }
            }
        }
    }

    .logoOnky5 {
        img {
            width: 18%;
            margin: 25% 40% -1% 42%;
            padding: 1% 3%;
        }

        .copyright5 {
            font-family: "Alegreya Sans", sans-serif;
            font-size: 0.8em;
            text-align: center;
            margin: 1% 2% 22% 3%;
        }
    }

    .top {
        text-decoration: none;
        z-index: 1;
        display: block;
        border: 3px solid var(--orange);
        background-color: white;
        height: 41px;
        position: fixed;
        right: 3px;
        bottom: 230px;
        border-radius: 5%;
        line-height: 31px;
        width: 32px;
        cursor: pointer;
    }
}

@media (min-width: 480px) {
    .portadaCalzas {
        img {
            height: 45vh;
        }
    }

    .productosCalzas {
        img {
            height: 60vh;
        }
    }

    .carousel6 {
        .carousel {
            img {
                height: 75vh;
            }
        }

        .carousel-indicators {
            margin-bottom: 2rem;
        }
    }

    .buttonComprar6 {
        margin: 0% 0% 10% 28%;
        padding: 14px 0px;
        width: 44%;
    }

    footer {
        margin: 0% 0% 0% 0%;
    }

}

@media (min-width: 768px) {
    .logoCalzas {
        .logoCompleto5 {
            margin: 18% 4% 2% 29%;
        }
    }

    .title5-A {
        font-size: 1.8em;
    }

    .title5-B {
        font-size: 1.7em;
        margin: 4% 28% 0% 29%;
    }

    .portadaCalzas {
        img {
            height: 90vh;
        }
    }

    .productosCalzas {
        h3 {
            font-size: 1.7em;
            margin: 2% 18% 2% 19%;
        }

        img {
            height: 52vh;
            width: 40%;
            justify-content: space-evenly;
            margin: 3% 4%;

            &:last-child {
                margin: 3% 29%;
            }
        }
    }

    .carousel6 {
        .c3 {
            font-size: 1.6em;
            margin: 8% 10% -1% 11%;
        }

        .carousel {
            img {
                height: 90vh;
                padding: 1px 127px;
                margin: 0% 0% 30% 0%;
            }
        }
    }

    .c4 {
        font-size: 1.6em;
    }

    .compraCalzas {
        .compraCalzas1 {
            font-size: 1.5em;
        }
    }

    .buttonComprar6 {
        font-size: 1.6em;
    }

    .btn-whatsapp5 {
        right: 8px;
        width: 37px;
        line-height: 80px;
        height: 155px;
        bottom: 26px;
    }

    .cart6 {
        height: 48px;
        right: 8px;
        width: 37px;
        bottom: 169px;
    }

    footer {
        .famousIcons5 {
            h2 {
                font-size: 1.7em;
                margin: 0% 17% 1% 20%;
            }

            .icons5 {
                font-size: 1.7em;
            }
        }

        .logoOnky5 {
            .copyright5 {
                font-size: 1.1em;
                margin: 0% 2% 0% 3%;
            }
        }

        .top {
            height: 48px;
            right: 8px;
            width: 37px;
            bottom: 57px;

        }
    }


}

@media (min-width: 1024px) {
    .logoCalzas {
        .logoCompleto5 {
            margin: 12% 4% 2% 29%;
        }
    }

    .portadaCalzas {
        img {
            width: 57%;
            margin: 1% 22%;
        }
    }

    .productosCalzas {
        h3 {
            margin: 12% 18% 2% 19%;
        }

        img {
            height: 68vh;
            width: 31%;
            margin: 3% 9%;

            &:last-child {
                margin: 3% 34%;
            }
        }
    }

    .carousel6 {
        .carousel {
            img {
                padding: 1px 266px;
            }
        }
    }

    .compraCalzas {
        .compraCalzas1 {
            margin: 5% 1%;
        }
    }

    footer {
        .famousIcons5 {
            margin: -9% 1% -11% 1%;
        }

        .logoOnky5 {
            margin: -15% 1% -10% 1%;
        }
    }

}

@media (min-width: 1440px) {

    .title5-A {
        font-size: 3.4em;
    }

    .title5-B {
        font-size: 3.5em;
    }

    .productosCalzas {
        h3 {
            font-size: 3.1em;
        }
    }

    .carousel6 {
        .c3 {
            font-size: 3em;
            margin: 10% 10% 1% 11%;
        }
    }

    .c4 {
        font-size: 3em;
    }

    .compraCalzas {
        .compraCalzas1 {
            font-size: 2.8em;
        }
    }

    .buttonComprar6 {
        font-size: 3em;
        margin: 3% 27%;
    }

    .btn-whatsapp5 {
        right: 26px;
        width: 79px;
        height: 140px;
        bottom: 241px;
    }

    .cart6 {
        height: 124px;
        right: 25px;
        width: 91px;
        bottom: 410px;

        a {
            img {
                width: 100%;
                height: 11vh;
            }
        }
    }

    footer {
        margin: 7% 0% 0% 0%;

        .famousIcons5 {
            h2 {
                font-size: 3em;
            }

            .icons5 {
                font-size: 3em;
            }
        }

        .logoOnky5 {
            margin: 3% 1% -19% 1%;

            .copyright5 {
                font-size: 2em;
            }
        }

        .top {
            height: 123px;
            right: 24px;
            width: 91px;
            bottom: 139px;
        }
    }


}