/* Variables: */

:root {
    --black: #05070d;
    --black-light-version: #101c26;
    --dark-grey: #333;
    --g: rgb(122, 122, 122);
    --grey: #283540;
    --orange: #e5721b;
    --beige: #f2e6c2;
    --beige1: #f5dfae;
    --beige2: #fff2d1;
}